*.o
makeAnalysisNtuple
makeSkim
makeCutflows
makeCutflows_gen2
checkOverlap
*.root
*.pdf
*.pyc
*.png
*.tgz
*.txt
*~
DeepCSV_Moriond17_B_H.csv
CSVv2_Moriond17_B_H.csv
DeepCSV_94XSF_V3_B_F.csv

condor
Test
jecFiles